body{
    background-image: url(../img/bg_mainpage1.png);
    background-size: 100% 100%;
    
}

.text{
    text-align: center;
    font-size: 7vw;
    color:whitesmoke;
    font-family: serif;
    margin-top: 270px;
    text-shadow:0 0 0.2em black;
    

}



.float{
    float: left;
}


.centerbtn{margin: 0;
    margin-top: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

img {
    width: 100%;
    height: auto;
  }

.positiondiv{ position: absolute;
    top: 10rem;
    left: 52%;
    transform: translate(-50%, -50%);}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}