.divleft {
    background-image: linear-gradient(#7579ff, #b224ef);
}

.divright {
    margin-top: 20px;
}

.divrow {
    width: auto;
    height: 100%;
}

.formin {
    width: 50%;
    padding: 8px;
    border: 1px solid rgb(29, 27, 27);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.search {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


/* When the input field gets focus, change its width to 100% */

.search:focus {
    width: 50%;
}